{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "overrides": [
    {
      "files": ".eslintrc",
      "options": {
        "parser": "jsonc",
        "trailingComma": "none"
      }
    }
  ],
  "htmlWhitespaceSensitivity": "ignore"
}
